<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wap.example.findintermediateapp">
    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher_mapmo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mapmo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">
        <activity android:name="wap.example.findintermediateapp.DeletedImage" />
        <activity android:name="wap.example.findintermediateapp.AddedImage" />
        <activity android:name="wap.example.findintermediateapp.EditMemo" />
        <activity android:name="wap.example.findintermediateapp.MemoListPage" />
        <activity android:name="wap.example.findintermediateapp.MemoPage" />
        <activity android:name="wap.example.findintermediateapp.AddMemo" />
        <activity android:name="wap.example.findintermediateapp.MyMemo" />
        <activity android:name="wap.example.findintermediateapp.ImageActivity" />
        <activity
            android:name="wap.example.findintermediateapp.SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="wap.example.findintermediateapp.LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="wap.example.findintermediateapp.MainActivity">
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="kafivuks0k" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>